.first
  width 30%
  float left
  border-right 1px solid #111
  padding 20px
.second
  width 30%
  float left
  border-right 1px solid #111
  padding 20px
.third
  width 30%
  float left
  padding 20px

.pull-right
  float right
